body {
  background-color: #e2f6fb;
}

p {
    color: white;
    font-family: "Verdana";
    font-size: 0.8em;
}

.phonemenu {
    display:none;
}

.logo {
  width: 300px;
  float: left;
  margin-left: -65px;
  margin-top: -200px;
    z-index: 30;
}

.logo:hover {
    opacity: 0.9;
} 

.shopnow {
    width: 250px;  
      -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
      border: 3px solid #fc66ad;
}

.animeimg {
    float: left;
    margin-left: 10px;
    width: 250px;
}



.main {
  width: 800px;
  height: 1650px;
  background-color: #0cafd8;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid #fc66ad;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  text-align: center;
}

.menu {
  width: 800px;
  height: 60px;
  background-color: #fc66ad;
  margin-top: 60px;
}

.menuitem {
    height: 20px;
    margin-top: 20px;
}    

.menuitem:hover {
    opacity: 0.8;
}    

.menutextbox {
    float:right;
    margin-right: 30px;
}    

.socialbutton {
    width: 70px;
}

.socialbutton:hover {
    opacity: 0.8;
} 

.fbcont {
    float:left;
    width: 250px;
    height: 500px;
    border: 3px solid #fc66ad;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.fb-like-box {
    float: left;
}

.twittercont {
    width: 250px;
    height: 500px;
    float: left;
    border: 3px solid #fc66ad;
    border-radius: 8px;

}

.twittertext {
    float:left;
    margin-left: 50px;
    width: 150px;
} 

.storetext {
    width: 120px;
    float: left;
    margin-left: 65px;
}

.facetext {
    width: 200px;
    float: left;
    margin-left: 25px;
    margin-top: 50px;
}

.willamtext {
    float:left;
    width: 150px;
    margin-left: 175px;
}    

.rightcol {
    width: 255px;
    float:right;
    margin-top: -50px;
    margin-right: 15px;
}    

.leftcol {
    width: 500px;
    height: 250px;
    float: left;
    margin-left: 15px;
    margin-top: -60px;  
}   

.socialbar {
  float: left;
  margin-left: 300px;
  margin-top: -320px;
}

.mainappear {
    float: left;
    width: 750px;
    margin-left: 25px;
    margin-top: -80px;
    height: 500px;
}

.resumebody {
    float: left;
    width: 750px;
    margin-left: 25px;
    margin-top: -80px;
    height: 500px;
}


.apptitle {
    width: 500px;
} 

#mobilemenu {
    position: fixed;
    width: 250px;
    margin-left: 25px;
    margin-top: 120px;
    display: none;
}

.tablelink {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.resumetext {
    width:300px;
}

.resumelinks {
    color: white;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #fc66ad;
	
	-moz-border-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffffff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #fc66ad;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:15px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #fc66ad 5%, #fc66ad 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc66ad), color-stop(1, #fc66ad) );
	background:-moz-linear-gradient( center top, #fc66ad 5%, #fc66ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc66ad", endColorstr="#fc66ad");	background: -o-linear-gradient(top,#fc66ad,fc66ad);

	background-color:#fc66ad;
	border:0px solid #fc66ad;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #fc66ad 5%, #fc66ad 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc66ad), color-stop(1, #fc66ad) );
	background:-moz-linear-gradient( center top, #fc66ad 5%, #fc66ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc66ad", endColorstr="#fc66ad");	background: -o-linear-gradient(top,#fc66ad,fc66ad);

	background-color:#fc66ad;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

@media screen and (max-width: 900px) {
    
.main {
    margin-top: 50px;
    width:300px;
    margin-left: 50px;
    height: 3620px;
}
    
.mainappear {
    width: 280px;
    margin-top: 20px;
    margin-left: 10px;
}
    
.apptitle {
    width:250px;
}
    
.logo {
    width:200px;
    margin-left: -40px;
    margin-top: -50px;
} 
    
.menu {
    display:none;
}
    
.phonemenu {
    display: block;
    width: 70px;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}
    
.socialbar {
    margin-left: -43px;
    width:400px;
    margin-top: -10px;
}

.socialbutton {
    width: 55px;
}
    
.rightcol {
    margin-top: 1620px;
    margin-left: 23px;
    width: 250px;
    float:left;
}
    
.leftcol {
    float: left;
    width: 250px;
    margin-top: 10px;
    margin-left: 30px; 
}
    
.willamtext {
    margin-left: 45px;
}
    
.video1 {
    width: 240px;
    height: 160px;
}
    
.animeimg {
    margin-left: 0px;
}
}